<h1>Hei - {{username}}. Alla eriteltynä menneet ja tulevat lähtöhetket</h1><br>
<h2>Tulevat lähdöt ja niihin liittyvä tieto:</h2>
<table>
  <thead>
    <tr>
      <th>Lähtöaika</th>
      <th>Arvioitu matka kilometreissä</th>
      <th>Lataustunnit</th>
      <th>Keskihinta</th>
      <th>Sää</th>
      <th>Toimenpiteet</th>
      <!-- <th>ID</th> -->
    </tr>
  </thead>
  <tbody>
    {{!-- {{#each usageInfo}} --}}
    {{#each usageFuture}}
      <tr>
        <td>{{this.departureTime}}</td>
        <td>{{this.estimatedMileage}}</td>
        <td>{{this.neededHours}}</td>
        <td>{{this.averagePrice}}</td>
        <td>{{this.temperature}}</td>
        <td>
          <button onclick="updateUsage('{{this.id}}')">Päivitä</button>
          <button onclick="deleteUsage('{{this.id}}')">Poista</button>
        </td>
        <tr hidden data-id="{{this.id}}"></tr>
      </tr>
    {{/each}}
  </tbody>
</table>


<script>
function deleteUsage(id) {
  fetch(`/usage/${id}`, {
    method: 'DELETE'
  })
  .then(response => {
    if (response.ok) {
      location.reload();
    } else {
      location.reload();
      console.log('Poisto epäonnistui');
    }
  })
  .catch(error => console.log(error));
}

function updateUsage(id) {
  const row = document.querySelector(`tr[data-id="${id}"]`);

  const updatedDepartureTime = prompt('Syötä uusi lähtöaika:');
  const updatedEstimatedMileage = prompt('Syötä uusi arvio matkan pituudesta:');

  fetch(`/usage/${id}`, {
    method: 'PATCH',
    body: JSON.stringify({
      departureTime: updatedDepartureTime,
      estimatedMileage: updatedEstimatedMileage
    }),
    headers: {
      'Content-Type': 'application/json'
    }
  })
  .then(response => {
    if (response.ok) {
      // Update the row with the new values
      row.querySelector('td:nth-child(1)').textContent = updatedDepartureTime;
      row.querySelector('td:nth-child(2)').textContent = updatedEstimatedMileage;
      row.querySelector('td:nth-child(3)').textContent = updatedNeededHours;
      row.querySelector('td:nth-child(4)').textContent = updatedAveragePrice;
      location.reload();
    } else {
      console.log('Päivitys epäonnistui');
      location.reload();
    }
  })
  .catch(error => console.log(error));
}

</script>

<br>
<h2>Menneet lähdöt ja niihin liittyvä tieto:</h2>
<table>
  <thead>
    <tr>
      <th>Lähtöaika</th>
      <th>Arvioitu matka kilometreissä</th>
      <th>Lataustunnit</th>
      <th>Keskihinta</th>
    </tr>
  </thead>
  <tbody>
    {{!-- {{#each usageInfo}} --}}
    {{#each usagePast}}
      <tr>
        <td>{{this.departureTime}}</td>
        <td>{{this.estimatedMileage}}</td>
        <td>{{this.neededHours}}</td>
        <td>{{this.averagePrice}}</td>
        <td>{{this.temperature}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
