<h1>Täältä löytyy käyttäjän historia</h1>

{{!-- {{#each products}}
  <p>{{this.name}}</p>
{{/each}} --}}

<p>Hei {{username}}</p>
<table>
  <thead>
    <tr>
      <th>Lähtöaika</th>
      <th>Arvioitu matka kilometreissä</th>
      <th>Lataustunnit</th>
      <th>Keskihinta</th>
    </tr>
  </thead>
  <tbody>
    {{#each usageInfo}}
      <tr>
        <td>{{this.departureTime}}</td>
        <td>{{this.estimatedMileage}}</td>
        <td>{{this.neededHours}}</td>
        <td>{{this.averagePrice}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


<li><a href="/logout">Logout</a></li>