
<h1>Täältä löytyy käyttäjän historia</h1>

{{!-- {{#each products}}
  <p>{{this.name}}</p>
{{/each}} --}}

<p>Hei {{username}}</p>
<h2>Tulevat lähdöt ja niihin liittyvä tieto</h2>
<table>
  <thead>
    <tr>
      <th>Lähtöaika</th>
      <th>Arvioitu matka kilometreissä</th>
      <th>Lataustunnit</th>
      <th>Keskihinta</th>
      <th>Toimenpiteet</th>
      <!-- <th>ID</th> -->
    </tr>
  </thead>
  <tbody>
    {{!-- {{#each usageInfo}} --}}
    {{#each usageFuture}}
      <tr>
        <td>{{this.departureTime}}</td>
        <td>{{this.estimatedMileage}}</td>
        <td>{{this.neededHours}}</td>
        <td>{{this.averagePrice}}</td>
        <!-- <td>{{this.id}}</td> -->
        <td>
          <button onclick="updateUsage('{{this.id}}')">Päivitä</button>
          <button onclick="deleteUsage('{{this.id}}')">Poista</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script>
function deleteUsage(id) {
  fetch(`/usage/${id}`, {
    method: 'DELETE'
  })
  .then(response => {
    if (response.ok) {
      location.reload();
    } else {
      location.reload();
      console.log('Poisto epäonnistui');
    }
  })
  .catch(error => console.log(error));
}
</script>

<h2>Menneet lähdöt ja niihin liittyvä tieto</h2>
<table>
  <thead>
    <tr>
      <th>Lähtöaika</th>
      <th>Arvioitu matka kilometreissä</th>
      <th>Lataustunnit</th>
      <th>Keskihinta</th>
    </tr>
  </thead>
  <tbody>
    {{!-- {{#each usageInfo}} --}}
    {{#each usagePast}}
      <tr>
        <td>{{this.departureTime}}</td>
        <td>{{this.estimatedMileage}}</td>
        <td>{{this.neededHours}}</td>
        <td>{{this.averagePrice}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
