<h1>Täältä löytyy käyttäjän historia</h1>

{{!-- {{#each products}}
  <p>{{this.name}}</p>
{{/each}} --}}

<p>Hei {{username}}</p>
{{#each usageInfo}}
  <p>Lähtöaika: {{this.departureTime.$date}}</p>
  <p>Arvioitu matka kilometreissä: {{this.estimatedMileage.$numberInt}}</p>
  <p>Lataustunnit: {{this.neededHours.$numberInt}}</p>
  <p>Keskihinta: {{this.averagePrice.$numberDouble}}</p>
{{/each}}

<li><a href="/logout">Logout</a></li>