<h2>Results</h2>
<p>Hours for charging:</p>
{{#if chosenHours}}
  <ul>
    {{#each chosenHours}}
      <li>{{this.startDate}} - {{this.endDate}}: {{this.price}} EUR/MWh</li>
    {{/each}}
  </ul>
{{else}}
  <p>No chosen hours found.</p>
{{/if}}

<p>Departure time:</p>
{{this.departureTimeOut}}